<v-panel caption="Please log in" size-auto>
    <v-vertical-layout size-auto margin spacing>
        <v-text-field caption="Username" />
        <v-password-field caption="Password" />
        <v-horizontal-layout spacing>
            <v-button style-name="primary">Login</v-button>
            <v-button>Cancel</v-button>
        </v-horizontal-layout>
    </v-vertical-layout>
</v-panel>